
main {
    display: grid;
    grid-template-columns: repeat(5, 20%);
    justify-content: space-between;
}

main a {
    width: 100%;
    text-align: center;
    display: flex;
    flex-direction: column;
}

.pais img {
    width: 65%;
    align-self: center;
    max-height: 100%;
}
.bandeira{
    width: 100%;
    height: 80%;
    display: flex;
}
.pais{
    height: 25vh;
}
p.nome{
   vertical-align: bottom;
}

@media only screen and (max-width:600px){
    main{
        grid-template-columns: repeat(3, calc(100%/3));
    }

    p.nome{
        max-width: 100%;
        font-size: 1.1em;
    }
}