body{
    min-height: 100vh;
}

main {
    flex-direction: row;
    min-height: 78vh;
}

#left {
    display: flex;
    flex-direction: column;
    width: 40%;
    box-sizing: border-box;
    padding: 3vh;
    justify-content: space-around;
}

#nome {
    border-width: 0px 0 3px 0;
    border-style: solid;
}

#right {
    box-sizing: border-box;
    padding: 3vh;
    width: 50%;
    text-align: center;
    margin-right: 0;
    margin-left: 20%;
    display: flex;
    flex-direction: column;
}

#right div{
    display: flex;
    align-items: center;
}

#bandeira{
    width: 50%;
}
#meio, #dados {
    background: #84A7A1;
    border-radius: 4vh;
    box-sizing: border-box;
    padding: 2vh;
    color: #fff;
}

#meio{
    justify-content: space-between;
}

#meio p {
    text-align: justify;
}
#meio p, #dados p{
    color: #fff;
}
#right div {
    margin-bottom: 5vh;
    flex: 1;
}

#mapa {
    width: 40%
}

/*Mobile*/

@media only screen and (max-width:600px){
    main{
        flex-direction: column-reverse;
        min-height: 83vh    ;
    }

    #right, #left{
        width: 100%;
    }
    #right{
        margin-left: auto;
    }
    #left div{
        margin-bottom: 2vh;
    }

}
