main{
    height: 68%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}

a.quizes{
    height: 50%;
    width: 15%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    transition: height 1s ease, width 1s ease;
}

a.quizes:hover{
    height: 70%;
    width: 20%;
}

a.quizes img{
    align-self: flex-start;
    width: 100%;
}

img.icone{
    border-radius: 2.5vw;
}

img#svg{
    height: 70%;
}
p.subtitulo{
    text-align: center;
}