main{
    display: flex;
    flex-direction: column;
}

#top{
    display: flex;
    flex: 60%;
    margin: 20px 0 0 0;
}
#bottom{
    display: flex;
    padding-top: 2%;
    box-sizing: border-box;
}


.left, .right{
        flex-direction: column;
        display: flex;
        padding: 2% 5% 2% 5% ;
        box-sizing: border-box;

}   

.left{
    flex: 30%;
}

.right{
    display: flex;
    flex-direction: column;
    flex: 70%;
}
.topico{
    display: flex;
    flex: 1;
    align-items: center;
    margin-left: calc(70%*0.25);
}
.topico p{
    flex: 50%;
}

.topico div{
    display: flex;
    justify-content: center;
    padding: 0;
}

.topico i{
    font-size: 4vh;
    margin: auto;
}

.topico div{
    border-radius: 16.6666%;
    height: 6vh;
    width: 6vh;
    margin-right: 5%;
    background-color: #2E8A99;
}
.left li, ul{
    margin: 0;
}
#bottom .left{
    text-align: center;
    cursor: pointer;

}
#bottom .left img{
    margin-bottom: 2vh;
    width: 80%;
}
#bottom .left p{
    width: 75%;
}

#textodown{
    text-align: justify;
}

#bottom .right{
    align-items: center;
}

#bottom .right img{
    width: 100%;
    height:100%;
    object-fit: cover;
    border-radius: 80px;
} 

#imagem{
    width: 80%;
    flex: 20vh;
    margin-bottom: 2vh;
    overflow: hidden;
}
h2{
    align-self: center;
    margin-bottom: 15%;
}

footer p{
    color: white;
}


/*Mobile*/

@media only screen and (max-width:600px){
    #top{
        flex-direction: column;
    }
    #bottom{
        flex-direction: column-reverse;
    }
    ul, li{
        margin: auto;
    }
    .left{
    
    }
}